/* Navbar.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.nav {
    display: flex;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;
}

.menu.mobile {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    z-index: 1;
}

.menu.mobile ul {
    padding: 0;
}

.menu.mobile li {
    padding: 10px;
    list-style: none;
    text-align: center;
}

.toggle-button {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    display: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .nav {
        display: grid;
    }

    .toggle-button {
        display: block;
    }

    .menu.mobile {
        display: flex;
    }
}